body {
  overflow: hidden;
  background: #0a0a0a;
}

* {
  padding: 0;
  margin: 0;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

:root:after {
  content: '99i';
  font: 30px monospace;
  position: fixed;
  color: #1e1e1e;
  top: calc(100vh - 40px);
  left: calc(calc(100vw / 2) - 30px);
  z-index: -1;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

#container #links {
  display: inline-flex;
  flex-wrap: wrap;
}

#container #links .con {
  margin: 20px;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#container #links .con .title {
  color: white;
  text-align: center;
  font-size: 22px !important;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  color: #8fd0ff;
}

#container #links .con .list {
  color: #dadada;
  width: 100%;
  height: 100%;
  list-style: none;
  padding: 0;
}

#container #links .con .list li {
  padding-top: 8px;
}

#container #links .con .list a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

#container #links .con .list a:hover {
  color: #bdbdbd;
  transition: color 0.2s;
}

#container #links .con .list i {
  padding-right: 8px;
}
